@font-face {
	font-family: "Arvo";
	src: url("./Arvo-Bold.ttf") format("ttf"),
		url("./Arvo-BoldItalic.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: gold;
	background-image: url("./icon.svg") no-repeat;
	background-size: cover;
	font-family: "Arvo";

	&:hover {
		text-decoration: underline;
	}
}
